.password {
  position: relative;
  cursor: pointer;

  &__input {
    padding-right: 40px;
  }

  &__icon {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -15px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
  }
}
